<header class="header">
  <div class="header__bar row">
     <h1 class="header-title"><%= link_to "My Training", root_path %></h1>
    <div class="header_right"><%=link_to 'トップページへ戻る', root_path %><div>
  </div>
</header>